body {
    background-color: #000f17;
    margin: 0;
    padding: 0;
}

#add-post-btn {
    width: 100%;
    margin: 0;
    margin-top: auto;
}

.preview-section {
    flex: 3;
    height: 100%;
    width: 100%;    
    overflow: hidden;
}

@media (max-width: 1100px) {
    .full-height-wrapper {
        flex-direction: column;
        height: auto;
        margin-bottom: 10px;
    }
    .add-post-container {
        flex-direction: column;
        width: 90%;
        max-width: 90%;
        padding: 0px;
    }
    .side-additional-container{
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px 10px 0px 0px;
    }
    .form-container {
        min-width: 0px;
        width: 100%;
        padding: 10px;
    }
    #addpost-fc {
        border: none;
        border-bottom: 2px solid #00263f;
    }
    .container_flex_column {
        padding: 10px;
    }
}

@container (max-width: 390px) {
    .post-header {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        margin-left: 20px;
    }
    .post-header-part:last-of-type {
        border-radius: 0px;
    }
    .post-header-part:first-of-type {
        margin-left: 0px;
        width: 141px;
    }
    .post-date {
        padding: 5px;
    }
}
