body{
    background: url("/images/FlickBannerDarkBlur.png") no-repeat center center;
    background-size: cover;
    background-color: #000f17;
}

.auth-form-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 540px;
    min-width: 300px;
    height: 60%;
    margin: auto;
    margin-top: 100px;
}

label {
    padding-left: 10px;
    font-size: 1.4rem;
    margin-bottom: 8px;
    margin-top: 15px;
    font-family: Arial;
    color: #00263f;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.log_reg_button{
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.log_reg_button:hover {
    background-color: #0056b3;
}

.button-outline {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    color: #007BFF;
    text-decoration: none;
}

.button-outline:hover {
    background-color: #007BFF;
    color: white;
}

/* Estilos das mensagens */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}

.info {
    color: blue;
    font-size: 14px;
    margin-bottom: 10px;
}



.login-text-input,
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.forgot-password-link {
    text-align: center;
    margin-top: 15px; 
}

.anony-link {
    text-align: center;
    margin-top: 50px; 
}


.forgot-password {
    color: #007BFF; 
    text-decoration: none;
    font-size: 14px; 
    font-weight: bold; 
}

.forgot-password:hover {
    color: #0056b3;
    text-decoration: underline; 
}

.explore-anony {
    color: #00263f; 
    text-decoration: none;
    font-size: 14px; 
    font-weight: bold; 
    transition: 0.2s;
}

.explore-anony:hover {
    color: #0077ff;
    text-decoration: underline; 
}
